body{
color:white;
background-color:rgb(62, 0, 255);
margin:0;
}
.h1{
    text-align:center;
    font-size:7em;
    font-family:monospace;
    width:70%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
.shonen {
  color: blue;
  font-size:3em;
}

.shojo {
  color:pink;
  font-size: 3em;
}

.seinen {
  color:grey;
  font-size: 3em;
}

.josei {
  color:violet;
  font-size: 3em;
}

.kodomo {
  color:lime;
  font-size:3em;
}
p{
  display:inline;
  padding: 110px;
}

.des{
  font-size:2em;
  text-align: center;
}
li{
  padding: 4px 15px
}
.shonen {
    color:##0000FF;
    font-size:2.5em;
}
.shonen:hover{
    border-top: 5px solid blue;
    background-color:rgba(0,0,250,0.15);
}
.shojo:hover{
    border-top: 5px solid pink;
    background-color:rgba(0,0,250,0.15);
}
.seinen:hover{
    border-top: 5px solid grey;
    background-color:rgba(0,0,250,0.15);
}
.josei:hover{
    border-top: 5px solid violet;
    background-color:rgba(0,0,250,0.15);
}
.kodomo:hover{
    border-top: 5px solid lime;
    background-color:rgba(0,0,250,0.15);
}
.shojo {
    color:pink;
    font-size: 2.5em;
    text-decoration: none;
}
.seinen {
    color:grey;
    font-size: 2.5em;
    text-decoration: none;
}
.josei {
    color:violet;
    font-size: 2.5em;
    text-decoration: none;
}
.kodomo {
    color:lime;
    font-size:2.5em;
    text-decoration: none;
}
li{
    width: 300px;
    padding: 4px 15px;
    font-size: 1.5em;
    position: static;
    bottom: 1px;
    list-style-type: none;
}
nav li{
    float: left;
    font-family: 'Source code pro',calibri,serif;
    text-align: center;
}
nav ul {
    overflow: hidden;
}
nav a{
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px;
}
li{
    text-decoration: none;
}
.menu-top{
    background-color:#130248;
    width: 100%;
    height: 65px;
}

#visited{
    color: white;
    text-decoration: none;
}
#link{
    text-decoration: none;
    color:blue;
}
#link2{
    text-decoration: none;
    color:pink;
}
#link3{
    text-decoration: none;
    color:grey;
}
#link4{
    text-decoration: none;
    color:violet;
}
#link5{
    text-decoration: none;
    color:lime;
}