.h1{
    text-align:center;
    font-size:7em;
    border-width:20px;
    border-style:double;
    border-radius:125px;
    border-color:red;
    font-family:monospace;
    width:70%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
body {
color:white;
background-color:black;
margin:0;
}
#searchbar{
    position: relative;
    left:650px;
    width:1040px;
    height:100px;
    display:inline-block;
}
#searchbar .champ{
    width:600px;
    height:35px;
    display:inline-block;
    text-align:center;
}
#searchbar .bouton{
    background-image: url(images/searchbar_button.png);
    width: 55px;
    height: 35px;
    padding: 0;
    display: inline-block;
}
p{
    display:inline;
    padding: 110px;
}
.shonen {
    color:##0000FF;
    font-size:3em;
}
.shonen:hover{
    border-top: 5px solid blue;
    background-color:rgba(0,0,250,0.15);
}
.shojo:hover{
    border-top: 5px solid pink;
    background-color:rgba(0,0,250,0.15);
}
.seinen:hover{
    border-top: 5px solid grey;
    background-color:rgba(0,0,250,0.15);
}
.josei:hover{
    border-top: 5px solid violet;
    background-color:rgba(0,0,250,0.15);
}
.kodomo:hover{
    border-top: 5px solid lime;
    background-color:rgba(0,0,250,0.15);
}
.shojo {
    color:pink;
    font-size: 3em;
    text-decoration: none;
}
.seinen {
    color:grey;
    font-size: 3em;
    text-decoration: none;
}
.josei {
    color:violet;
    font-size: 3em;
    text-decoration: none;
}
.kodomo {
    color:lime;
    font-size:3em;
    text-decoration: none;
}
li{
    width: 300px;
    padding: 4px 15px;
    font-size: 1.5em;
    position: static;
    bottom: 1px;
    list-style-type: none;
}
nav li{
    float: left;
    font-family: 'Source code pro',calibri,serif;
    text-align: center;
}
nav ul {
    overflow: hidden;
}
nav a{
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px;
}
.menu-top{
    background-color:#424558;
    width: 100%;
}

#visited{
    color: white;
    text-decoration: none;
}
#link{
    text-decoration: none;
    color:blue;
}
#link2{
    text-decoration: none;
    color:pink;
}
#link3{
    text-decoration: none;
    color:grey;
}
#link4{
    text-decoration: none;
    color:violet;
}
#link5{
    text-decoration: none;
    color:lime;
}
.bouton{
    height: 50px;
    width: 55px;
    display:inline-block;
}
.barre{
    text-align: center;
}
.ligne_verticale{
    border-left:20px solid red;
}
.menu{
    color:white;
    background-color:red;
    height: 615px;
    width: 250px;
    margin-left: 30px;
    border: 10px double black;
    position: relative;
    bottom: 750px;
    text-decoration: none;
    
}
.panneau-prinipale{
    background-color:#424558;
    height: 750px;
    width: 1375px;
    display:inline-block;
    position: relative;
    left:420px
    
}
footer{
    background-color: red;
    width: 100%;
    position: relative;
    bottom: 450px;
}